* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	font-size: 15px;
}

ul {
	list-style-type: square;
	margin-left: 2em;
}

li {
	padding: 0.1em;
}

h2, h3, h4, h5, h6 {
	margin: 1em 0;
}

p {
	margin: 10px 0;
}

a {
	background: transparent;
	color: #0a0;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#wrapper {
	border: 1px solid #7c7;
	margin: 10px auto;
	width: 1000px;
}

#header {
	background: #7c7;
	color: #fff;
	padding: 10px;
}

#menu {
	float: left;
	padding-left: 10px;
	width: 180px;
}

#content {
	float: right;
	padding-right: 10px;
	width: 800px;
}

#footer {
	background: #8d8;
	color: #000;
	margin-top: 10px;
	padding: 10px;
	text-align: right;
}