* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	font-size: 15px;
}

ul {
	list-style-type: square;
	margin-left: 2em;
}

li {
	padding: 0.1em;
}

h2, h3, h4, h5, h6 {
	margin: 10px 0 5px 0;
}

p {
	margin: 10px 0;
}

a {
	background: transparent;
	color: #0a0;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#wrapper {
	border: 1px solid #7c7;
	margin: 10px auto;
	width: 1000px;
}

#header {
	background: #7c7;
	color: #fff;
	padding: 10px;
}

#menu {
	float: left;
	padding-left: 10px;
	width: 170px;
}

#menu a {
	display: block;
	padding: 2px;
	text-decoration: none;
}

#menu a:hover {
	background: #0a0;
	color: #fff;
}

#content {
	float: right;
	padding-right: 10px;
	width: 800px;
}

#footer {
	background: #8d8;
	color: #000;
	margin-top: 10px;
	padding: 10px;
	text-align: right;
}

form .unit {
	padding: 10px 0;
}

label {
	font-weight: bold;
}

label.block {
	display: block;
	margin: 5px 0 5px 5px;
}

input, textarea {
	background: #eee;
	border: 1px solid #aaa;
	color: #000;
	padding: 0;
}

form .submit {
	text-align: right;
}

p.success {
	background: #afa;
	border: 1px solid #0a0;
	color: #000;
	font-weight: bold;
	padding: 5px;
}

p.error {
	background: #faa;
	border: 1px solid #f00;
	color: #000;
	font-weight: bold;
	padding: 5px;
}

.dataContainer {
	clear: both;
	margin: 10px 0;
	border-collapse: collapse;
	width: 100%
}

.dataContainer th {
	background: #9d9;
	color: #000;
	border-bottom: 2px solid #6b6;
	font-size: 15px;
	font-weight: bold;
	padding: 0.5em;
	text-align: left;
}

.dataContainer td {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 5px;
	vertical-align: top;
}

.dataContainer td + td {
	border-left: 1px solid #ddd;
}

.dataContainer tr:nth-child(odd) {
	background: #eee;
	color: #000;
}

.dataContainer tr:nth-child(even) {
	background: #fff;
	color: #000;
}