@media screen {
	* {
		margin: 0;
		padding: 0;
	}

	body {
		font-family: 'Tahoma', sans-serif;
		font-size: 15px;
	}

	ul {
		list-style-type: square;
		margin-left: 20px;
	}

	li {
		padding: 2px;
	}

	h2, h3, h4, h5, h6 {
		margin: 20px 0 10px 0;
	}

	h2 {
		clear: both;
		padding-left: 20px;
	}

	h3 {
		border-bottom: 1px solid #000;
		padding-bottom: 2px;
	}

	p {
		margin: 20px 0;
	}

	a {
		background: transparent;
		color: #555;
		font-weight: bold;
		text-decoration: underline;
	}

	a:hover {
		text-decoration: none;
	}

	strong {
		font-weight: bold;
	}

	em {
		font-style: italic;
	}

	#wrapper {
		background: #fff;
		color: inherit;
		margin: 5px auto;
		width: 1000px;
	}

	#header {
		background: #7c7;
		color: #fff;
		padding: 10px;
	}

	h1, #header img {
		font-size: 25px;
		letter-spacing: 5px;
		vertical-align: top;
	}

	#header a {
		background: transparent;
		color: #fff;
		text-decoration: none;
	}

	#search {
		float: right;
		width: 40%;
	}

	#complexSearches {
		float: right;
		font-size: 0.7em;
		font-weight: normal;
		text-align: right;
	}

	#complexSearches a {
		background: transparent;
		color: #fff;
		display: block;
	}

	#q {
		background: #fff;
		border: 1px solid #aaa;
		color: inherit;
		font-size: 16px;
		margin-right: 5px;
		padding: 5px;
	}

	#searchSubmit {
		border: 1px solid #aaa;
		font-size: 16px;
		padding: 5px;
	}

	#menu {
		float: left;
		width: 180px;
	}

	#menu a {
		display: block;
		padding: 2px;
		text-decoration: none;
	}

	#menu a:hover {
		background: #eee;
		color: inherit;
	}

	#content {
		float: right;
		line-height: 1.5em;
		padding-right: 10px;
		width: 800px;
	}

	#footer {
		font-size: 0.8em;
		margin-top: 10px;
		padding: 10px;
		text-align: right;
	}

	.unit {
		background: #eee;
		border: 1px solid #aaa;
		color: inherit;
		margin: 10px 0;
		padding: 5px;
	}

	.unit h4 {
		border-bottom: 1px solid #000;
		margin: 0 0 10px 0;
		padding: 0 0 5px 0;
	}

	label {
		font-weight: bold;
	}

	label.block {
		display: block;
		margin: 5px 0 5px 5px;
	}

	.unit input, .unit textarea, .unit select {
		background: #fff;
		border: 1px solid #aaa;
		color: inherit;
		font-family: 'Tahoma', sans-serif;
		line-height: 1.5em;
	}

	.unit input.obligatory, .unit textarea.obligatory, .unit select.obligatory {
		background: #faa;
		border: 1px solid #f00;
		color: inherit;
	}

	.submit {
		text-align: right;
	}

	.success {
		background: transparent;
		border-bottom: 1px solid #0a0;
		color: #0a0;
		font-weight: bold;
	}

	.error {
		background: transparent;
		border-bottom: 1px solid #f00;
		color: #f00;
		font-weight: bold;
	}

	.notice {
		background: transparent;
		border-bottom: 1px solid #aa0;
		color: #aa0;
		font-weight: bold;
	}

	p.success {
		background: #afa;
		border: 1px solid #0a0;
		color: inherit;
		font-weight: bold;
		padding: 5px;
	}

	p.error {
		background: #faa;
		border: 1px solid #f00;
		color: inherit;
		font-weight: bold;
		padding: 5px;
	}

	p.notice {
		background: #ffa;
		border: 1px solid #aa0;
		color: inherit;
		font-weight: bold;
		padding: 5px;
	}

	p.bibliographie_pages {
		background: #eee;
		border: 1px solid #ccc;
		color: inherit;
		margin: 20px 0;
		padding: 5px;
	}

	p.bibliographie_operations {
		border: 1px solid #ccc;
		margin: 20px 0;
		padding: 5px;
		text-align: right;
	}

	.dataContainer {
		clear: both;
		margin: 10px 0;
		border-collapse: collapse;
		width: 100%
	}

	.dataContainer th {
		background: #9d9;
		color: inherit;
		border-bottom: 2px solid #6b6;
		font-size: 15px;
		font-weight: bold;
		padding: 0.5em;
		text-align: left;
	}

	.dataContainer td {
		border-bottom: 1px solid #ccc;
		border-top: 1px solid #ccc;
		padding: 5px;
		vertical-align: top;
	}

	.dataContainer td + td {
		border-left: 1px solid #ddd;
	}

	.dataContainer tr:nth-child(odd) {
		background: #eee;
		color: inherit;
	}

	.dataContainer tr:nth-child(even) {
		background: #fff;
		color: inherit;
	}

	.bibliographie_topics_topic_graph ul {
		list-style-type: none;
		margin-left: 20px;
	}

	.silk-icon-equivalent {
		display:inline-block;
		height: 16px;
		margin: 0 1px;
		width: 16px;
	}

	.bibliographie_publication {
		border: 1px solid #ccc;
		margin: 5px 0;
		padding: 5px;
	}

	.bibliographie_notes_note {
		background: #ffd;
		border: 1px solid #aaa;
		color: inherit;
		margin: 10px 0;
		padding: 5px;
	}

	.bibliographie_notes_publication_link {
		border-top: 1px solid #aaa;
		font-size: 0.7em;
		margin-top: 5px;
		padding-top: 5px;
	}

	.bibliographie_notes_publication_link a {
		font-weight: normal;
	}

	.bibliographie_notes_actions, .bibliographie_bookmark_container {
		background: #fafafa;
		border-bottom: 1px solid #aaa;
		border-left: 1px solid #aaa;
		color: inherit;
		display: inline;
		float: right;
		font-size: 0.8em;
		margin: -5px -5px 5px 5px;
		padding: 5px;
	}

	.bibliographie_publication_bookmarked {
		background: #ffd;
		color: inherit;
	}

	#jQueryLoading {
		background: #eee;
		border: 1px solid #ddd;
		color: inherit;
		font-weight: bold;
		padding: 5px;
		position: fixed;
		top: 0;
		right: 0;
		text-align: center;
		vertical-align: middle;
		width: 200px;
	}

	.bibliographie_search_result {
		background: #fafafa;
		border: 1px solid #aaa;
		color: inherit;
		margin: 10px 0;
		padding: 5px;
	}

	.highlight {
		background-color: #ffa;
		color: inherit;
	}

	.bibliographie_similarity_container {
		background: #fff;
		border: 1px solid #aaa;
		color: inherit;
		display: none;
		font-size: 0.7em;
		padding: 5px;
	}

	.bibliographie_similarity_list_container {
		background: #eee;
		clear: both;
		color: inherit;
		display: none;
		padding: 5px;
		max-height: 300px;
		overflow-y: scroll;
	}

	.bibliographie_checkData_entry {
		background: #fafafa;
		border: 1px solid #aaa;
		color: inherit;
		margin: 20px 0;
		padding: 5px;
	}

	.bibliographie_checkData_pubType {
		border-bottom: 1px solid #aaa;
		border-left: 1px solid #aaa;
		font-size: 0.8em;
		float: right;
		margin: -5px -5px 5px 5px;
		padding: 5px;
	}

	.bibliographie_checkData_persons {
		clear: both;
	}

	#bibliographie_history {
		background: #fafafa;
		color: inherit;
		font-size: 0.8em;
		margin-right: -10px;

		padding: 5px;
	}

	#bibliographie_history em {
		float: right;
	}

	#bibliographie_history .history_steps {
		display: none;
		max-height: 400px;
		overflow-y: scroll;
	}

	.bibliographie_publications_order_selector {
		background: #ffd;
		border: 1px solid #eee;
		color: inherit;
		display: block;
		position: absolute;
		width: 70px;
	}

	.bibliographie_publications_order_selector a {
		display: block;
		padding: 2px;
		text-decoration: none;
	}

	.bibliographie_publications_order_selector a:hover {
		background: #eee;
		color: inherit;
	}

	#bibliographie_maintenance_select_persons {
		border: 1px solid #eee;
		max-height: 500px;
		overflow-y: scroll;
		padding: 5px;
		width: 45%;
	}

	.bibliographie_maintenance_person_groups {
		background: #fafafa;
		border: 1px solid #aaa;
		color: inherit;
		margin: 5px 0;
		padding: 5px;
	}

	#bibliographie_maintenance_merge_container {
		float: right;
		width: 50%;
	}

	#bibliographie_maintenance_merge_container div {
		margin: 5px;
		padding: 5px;
	}

	#bibliographie_maintenance_merge_into {
		border: 2px solid #0a0;
	}

	#bibliographie_maintenance_merge_delete {
		border: 2px solid #f00;
	}
}

@media print {
	img {
		max-width: 100%;
	}

	a[href]:after {
		content: ' (' attr(href) ')';
	}
}